sourceengine/
garrysmod/garrysmod_000.vpk
garrysmod/garrysmod_001.vpk
garrysmod/garrysmod_002.vpk
cstrike/
bin/
garrysmod/addons/advanced_medic_mod/
garrysmod/maps/
garrysmod/data/
garrysmod/cache/
steam_cache/
steamapps/
platform/
garrysmod/sv.db
garrysmod/data/ulx_logs
garrysmod/data/darkrp_logs
garrysmod/downloadlists/gm_construct.lst
garrysmod/data/ulib/users.txt
garrysmod/modelsounds.cache
garrysmod/sv.db-journal
garrysmod/clientside_errors.txt
garrysmod/cfg/server.vdf
garrysmod/map.pack
garrysmod/addons/_blogs-reamstered-11/
garrysmod/addons/__blib/
garrysmod/addons/_bwhitelist-revamped-14/
